:host {
  --component-height: 550px;
  --angle-div: 75px;
}

h2 {
  text-transform: uppercase;
  color: var(--color-secondary);
  text-align: center;

  margin: 1em 0;

  font-size: 2em;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: var(--component-height);
  background-color: var(--color-primary);

  margin-bottom: 2em;
}

.image-holder {
  height: var(--component-height);
  width: var(--component-height);
  overflow: hidden;

  clip-path: polygon(var(--angle-div) 0%, 100% 0%, calc(100% - var(--angle-div)) 100%, 0% 100%);
}

.content-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.content-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  border-radius: 50px;

  width: 70%;
  height: 90%;
  margin: auto;
}

.card-overlay h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;

  font-size: 1.5em;

  word-wrap: break-word;
}

.card-overlay p {
  font-weight: 500;
  margin-bottom: 1em;

  font-size: 1.25em;
}

.card-overlay a {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: 500;
  padding: 1em;

  border-radius: 25px;
  border: solid 2px var(--color-white);
  transition: ease-in-out 0.3s;
}

.card-overlay a:hover {
  border: solid 2px var(--color-secondary);

  background-color: var(--color-white);
  color: var(--color-secondary);
}

@media (max-width: 1400px) {
  .card-overlay {
    width: 65%;
  }
  .card-overlay h3 {
    font-size: 1.2em;
  }

  .card-overlay p {
    font-size: 1em;
  }
  .card-overlay a {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  :host {
    --component-height: 450px;
  }
  .card-overlay {
    width: 60%;
  }
  .card-overlay h3 {
    font-size: 0.9em;
  }

  .card-overlay p {
    font-size: 0.85em;
  }
  .card-overlay a {
    font-size: 0.85em;
  }
}

@media (max-width: 1000px) {
  :host {
    --component-height: 350px;
  }
  .image-holder:nth-of-type(2),
  .image-holder:nth-of-type(3) {
    margin-left: -5em;
  }
  .card-overlay h3 {
    font-size: 0.75em;
    font-weight: 800;
  }
  .card-overlay p {
    font-size: 0.65em;
    font-weight: 700;
  }
  .card-overlay a {
    font-size: 0.65em;
  }

  .card-overlay {
    width: 55%;
  }
}

@media (max-width: 800px) {
    :host {
    --component-height: 400px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(3 * var(--component-height));
  }
  .image-holder {
    width: 100%;
  }
  .image-holder:nth-of-type(2) {
    clip-path: polygon(0% 0%, calc(100% - var(--angle-div)) 0%, 100% 100%, var(--angle-div) 100%);
  }

  .card-overlay {
    width: 65%;
  }
  .image-holder:nth-of-type(2),
  .image-holder:nth-of-type(3) {
    margin-left: 0em;
  }

  .card-overlay h3 {
    font-size: 1em;
  }

  .card-overlay p {
    font-size: .9em;
  }

  .card-overlay a {
    font-size: .9em;
  }
}
