<h2>Pijlers</h2>
<div class="image-container">

    <div class="image-holder">
        <div class="content-inner">
            <img src="/three-images/Three-Image-2.webp" alt="Duurzaam Wonen">
            <div class="card-overlay glassmorphism">
                <h3>Duurzaam Wonen</h3>
                <p>Uw huis omtoveren tot energiezuinige thuis? Toekomstgericht bouwen? Kleiner wonen? Thorbouw is
                    gespecialiseerd in volhoudbaar (ver)bouwen & inrichten.</p>
                <a [routerLink]="'/projectontwikkeling'" class="link-btn">Investeer in milieubewust wonen</a>
            </div>
        </div>
    </div>

    <div class="image-holder">
        <div class="content-inner">
            <img src="/three-images/Three-Image-1.webp" alt="Projectontwikkeling">
            <div class="card-overlay glassmorphism">
                <h3>Projectontwikkeling</h3>
                <p>Leegstaand pand of een stuk grond te verkavelen? Zin in cohousing of samenhuizen? Thorbouw zet zijn
                    schouders onder uw vooruitstrevend bouwproject.</p>
                <a [routerLink]="'/projectontwikkeling'" class="link-btn">Maak kennis met onze projectaanpak</a>
            </div>
        </div>
    </div>

    <div class="image-holder">
        <div class="content-inner">
            <img src="/three-images/Three-Image-3.webp" alt="Bouwkundig Advies">
            <div class="card-overlay glassmorphism">
                <h3>Bouwkundig Advies</h3>
                <p>Stap van uw woonverhaal in Leuven & ruime omgeving. Wij vergezellen u met eerlijke feedback tijdens
                    een huisbezichtiging.</p>
                <a [routerLink]="'/advies'" class="link-btn">Laat u duurzaam adviseren</a>
            </div>
        </div>
    </div>
</div>