footer {
  position: relative;
  width: 100%;
  height: 750px;

  overflow: hidden;

  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}

footer .footer-background {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  will-change: background-position;

  z-index: 1;

  opacity: 1;
}

footer .footer-overlay {
  position: absolute;
  inset: 0;

  background: var(--color-dark);
  opacity: 0.85;
  z-index: 2;
}

footer .footer-content {
  height: 100%;
  position: relative;
  z-index: 3;

  color: var(--color-light-grey);

  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-template-rows: 0.35fr 1fr 1fr 3fr 1.5fr;

  align-items: center;

  text-align: center;

  a {
    text-decoration: underline;
  }
}

.footer-title {
  font-size: 2em;
  grid-row: 2;
  grid-column: 2/5;
}
.footer-text {
  font-size: 1.5em;

  grid-row: 3;
  grid-column: 2/5;
}

.bottom-links {
  align-self: baseline;
  margin-top: 1em;
}

footer h3 {
  font-size: 1.5em;
}
.quicklinks {
  grid-column: 2;
  grid-row: 4;
}
.contact {
  grid-column: 3;
  grid-row: 4;
}

.stay-connected {
  grid-column: 4;
  grid-row: 4;
}

.stay-connected,
.contact {
  svg {
    max-height: 48px;
  }
  .contact-info {
    padding: 1em 0;
  }
  .contact-info a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  }

  .detailed-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 1em;
  }
}

.footer-info-container {
  margin-top: 2em;
  font-size: 1.25em;
}

.footer-bottom {
  grid-column: 1/6;
  grid-row: 5/6;
  color: var(--color-light-grey);
  font-size: 14px;
  text-align: center;
}

.footer-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 0.5em;
}

.footer-line-container .line {
  flex: 1;
  height: 2px;
  background: var(--color-light-grey);
}

.footer-logo {
  max-height: 80px;
}

.footer-meta {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

@media (max-width: 1150px) {
  footer {
    clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
  .footer-title {
    font-size: 1.5em;
  }
  footer h3 {
    font-size: 1.25em;
  }
  .footer-info-container,
  .footer-text {
    font-size: 1em;
  }

  .stay-connected,
  .contact {
    svg {
      max-height: 38px;
    }
  }
}

@media (max-width: 750px) {
  footer {
    clip-path: polygon(0% 5%, 50% 0%, 100% 5%, 100% 100%, 0% 100%);
  }

  .stay-connected,
  .contact {
    svg {
      max-height: 30px;
    }
  }

  footer .footer-content {
    grid-template-rows: 0.15fr 1fr 1fr 2fr 1.5fr;
    grid-template-columns: 2fr 2fr 2fr;
  }
  footer h3 {
    font-size: 1em;
  }

  .footer-title {
    grid-column: 1/5;
    font-size: 1.25em;
  }
  .footer-text {
    grid-column: 1/5;
  }

  .footer-info-container {
    font-size: 0.85em;
  }
  .quicklinks {
    grid-column: 1;

    a {
      font-size: 0.75em;
    }
  }
  .contact {
    grid-column: 2;
  }
  .stay-connected {
    grid-column: 3;
  }

  .stay-connected,
  .contact {
    .contact-info {
      padding-top: 0;
    }

    .contact-info a {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
    }
    .detailed-info {
      margin-left: 0em;
      margin-top: 0.3em;
    }
  }

  .footer-meta {
  display: flex;
  justify-content: space-around;
  gap: 5%;
}
}
