footer {
    position: relative;
    width: 100%;
    height: 750px;

    overflow: hidden;

    clip-path: polygon(
        0% 15%,
        50% 0%,
        100% 15%,
        100% 100%,
        0% 100%
    );
}

footer .footer-background {
    position: absolute;
    inset: 0;

    background-image: url('./assets/FooterImage1.png');
    background-size: cover;
    background-position: center;

    z-index: 1;
}

footer .footer-overlay {
    position: absolute;
    inset: 0;

    background: var(--color-dark);
    opacity: 0.85;
    z-index: 2;
}

footer .footer-content {
    position: relative;
    z-index: 3;

    color: var(--color-light-grey);

    text-align: center;
    padding: 2em
}