footer {
  position: relative;
  width: 100%;
  height: 750px;

  overflow: hidden;

  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}

@media (max-width: 1000px) {
  footer {
    clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 650px) {
  footer {
    clip-path: polygon(0% 5%, 50% 0%, 100% 5%, 100% 100%, 0% 100%);
  }
}

footer .footer-background {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  will-change: background-position; 

  z-index: 1;

  opacity: 1;
}

footer .footer-overlay {
  position: absolute;
  inset: 0;

  background: var(--color-dark);
  opacity: 0.85;
  z-index: 2;
}

footer .footer-content {
  position: relative;
  z-index: 3;

  color: var(--color-light-grey);

  text-align: center;
  padding: 2em;
}
