:host {
  --footer-height: 750px;
  --footer-clip-angle: 15%;
  --footer-overlay-opacity: 0.85;
  --footer-logo-size: 80px;
  --icon-size: 48px;
}

footer {
  position: relative;
  width: 100%;
  height: var(--footer-height);

  clip-path: polygon(
    0% var(--footer-clip-angle),
    50% 0%,
    100% var(--footer-clip-angle),
    100% 100%,
    0% 100%
  );
}

footer .footer-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;

  clip-path: inherit;
}

footer .footer-overlay {
  position: absolute;
  inset: 0;

  background: var(--color-dark);
  opacity: var(--footer-overlay-opacity);
  z-index: 2;
}

footer .footer-content {
  height: 100%;
  position: relative;
  z-index: 3;

  color: var(--color-light-grey);
  padding-top: 2.5em;

  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-auto-rows: min-content;
  row-gap: 2rem;

  align-items: center;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.footer-title {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2rem);
  grid-row: 2;
  grid-column: 2/5;
}
.footer-text {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);

  grid-row: 3;
  grid-column: 2/5;
}

.bottom-links {
  align-self: baseline;
  margin-top: 1em;
}

footer h3 {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}
.quicklinks {
  grid-column: 2;
  grid-row: 4;

  a {
    font-size: clamp(0.75rem, 1vw + 0.25rem, 1.25rem);
  }
}
.contact {
  grid-column: 3;
  grid-row: 4;
}

.stay-connected {
  grid-column: 4;
  grid-row: 4;
}

.stay-connected,
.contact {
  img {
    max-height: var(--icon-size);
    max-width: var(--icon-size);
  }
  .contact-info {
    padding: 1em 0;
  }
  .contact-info a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: min(15em, 100%);
    margin: 0 auto;
  }

  .detailed-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.stay-connected .contact-info a {
  width: min(10em, 80%);
}

.footer-info-container {
  margin-top: 2em;
  font-size: clamp(0.85rem, 1vw + 0.5rem, 1.25rem);
}

.footer-bottom {
  grid-column: 1/6;
  grid-row: 5/6;
  color: var(--color-light-grey);
  font-size: 14px;
  text-align: center;
}

.footer-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 0.5em;
}

.footer-line-container .line {
  flex: 1;
  height: 2px;
  background: var(--color-light-grey);
}

.footer-logo {
  max-height: var(--footer-logo-size);
  max-width: var(--footer-logo-size);
}

.footer-meta {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

@media (max-width: 1150px) {
  :host {
    --footer-clip-angle: 10%;
    --icon-size: 38px;
  }
}

@media (max-width: 750px) {
  :host {
    --footer-clip-angle: 5%;
    --icon-size: 30px;
    --footer-logo-size: 65px;
  }

  footer .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text,
  .footer-title {
    grid-column: 1/5;
  }

  .quicklinks {
    grid-column: 1;
  }
  .contact {
    grid-column: 2;
  }
  .stay-connected {
    grid-column: 3;
  }

  .stay-connected,
  .contact {
    .contact-info a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
