<section class="foto-card">
  <div class="card-container">
    <a href="">
      <div class="card">
        <h2>Metamorfose te Wespelaar</h2>
        <div class="img-container">
          <img
            src="/fotos&realisaties/WespelaarFotoCard.webp"
            alt="Foto van verbouwing in Wespelaar"
          />
        </div>
        <div class="card-details">
          <h3>Modern wooncomfort, vakkundig gerealiseerd</h3>
          <p>
            Met kwalitatieve materialen en oog voor detail realiseren we duurzame woonoplossingen.
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
