<section class="foto-card">
  <div class="card-container">
    <a [routerLink]="['/fotos', project.slug]">
      <div
        class="card"
        [style.--card-image]="'url(' + project.cardImage2 + ')'"
        [style.--card-image-2]="'url(' + project.cardImage3 + ')'"
      >
        <h2>{{ project.title }}</h2>
        <div class="img-container">
          <img
            [src]="project.cardImage"
            [alt]="project.cardImageAlt"
            alt="Foto van verbouwing in Wespelaar"
          />
        </div>
        <div class="card-details">
          <h3>{{ project.subtitle }}</h3>
          <p>
            {{ project.description }}
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
