.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
}

/* Navbar Layout and Structure for Desktop */

.nav-list {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mobile-nav {
  display: none;
}

/* Logo styling */

.logo {
  display: block;
  height: 100%;
  max-height: var(--nav-height);
  width: auto;
  object-fit: contain;
}

/* Links */

li {
  padding: 1em 0;
}

a {
  font-weight: 700;
  font-size: 1.25em;
  position: relative;

  overflow: hidden;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--color-secondary);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

a:hover::after,
a.active::after {
  transform: scaleX(1);
}

a:hover,
a.active {
  color: var(--color-secondary);
}

.no-transition {
  transition: none !important;
}

/* Responsive Font Sizes for Desktop */

@media (max-width: 1500px) {
  a {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  a {
    font-size: 0.85em;
  }
}

/* End of Navbar Layout and Structure for Desktop */

/* Navbar Layout and Structure for Mobile */

@media (max-width: 1000px) {
  .desktop-logo-container {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    height: calc(var(--nav-height) / 1.25);

    padding: 0 3em;

    overflow: hidden;

    margin-bottom: 2em;
    z-index: 3;
  }

  .mobile-logo {
    max-height: calc(var(--nav-height) / 1.25);
  }

  .nav-links {
    position: absolute;
    top: calc(var(--nav-height) / 1.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;

    z-index: 1;
  }

  .nav-links.open {
    transform: translateY(0);
    z-index: 4;

  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-links,
  .nav-list li,
  .nav-list a {
    display: block;
    width: 100%;
    text-align: center;
  }

  a {
    padding: 1em 0;
    font-size: 1.1em;
  }

  .nav-list li {
    padding: 0;
  }

  .hamburger {
    border: none;
    background: none;

    display: block;
    margin-inline-start: auto;
    cursor: pointer;
  }
}

@media (max-width: 1000px) and (prefers-reduced-motion) {
  .nav-links {
    translate: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .nav-links.open {
    opacity: 1;
  }
}

/* End of Navbar Layout and Structure for Mobile */

/**
  * Hamburger menu animation: https://www.youtube.com/watch?v=R00QiudbD4Y
  */
