/* NavBar Glassmorphism Styling */
.mobile-nav,
.nav-links {
  position: relative;
  isolation: isolate;

  padding: 0 1em;
  margin-bottom: 1.5em;

  border-bottom: rgba(255, 255, 255, 0.25) 2px solid;
  border-radius: 0 0 50px 50px;

  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(15px);

  box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.35);

  z-index: 2;
}

.mobile-nav::after,
.nav-links::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background-image: url('assets/Noise.png');
  background-repeat: repeat;
  opacity: 0.1;
  mix-blend-mode: overlay;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar Layout and Structure for Desktop */

.nav-list {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mobile-nav {
  display: none;
}

/* Logo styling */

.logo {
  height: 100%;
  max-height: var(--nav-height);
  width: auto;
  object-fit: contain;
}

/* Links */

li {
  padding: 1em 0;
}

a {
  font-weight: 700;
  font-size: 1.25em;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--color-secondary);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

a:hover::after,
a.active::after {
  transform: scaleX(1);
}

a:hover,
a.active {
  color: var(--color-secondary);
}

/* Responsive Font Sizes for Desktop */

@media (max-width: 1500px) {
  a {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  a {
    font-size: 0.85em;
  }
}

/* End of Navbar Layout and Structure for Desktop */

/* Navbar Layout and Structure for Mobile */

@media (max-width: 1000px) {
  .desktop-logo-container {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;

    padding: 0 3em;
    margin: 0;
  }

  .nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;

    z-index: 1;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .nav-list {
    display: flex;
    flex-direction: column;

  }

  .nav-links, .nav-list li, .nav-list a {
    display: block;
    width: 100%;
    text-align: center;
  }

  a {
    padding: 1em 0;
    font-size: 1.1em;
  }
  
  .nav-list li{
    padding: 0;
  }

}

/* End of Navbar Layout and Structure for Mobile */


/**
  * Continue implementation of navbar facility: https://www.youtube.com/watch?v=pBv7igaxfQE
  * Hamburger menu animation: https://www.youtube.com/watch?v=R00QiudbD4Y
  */


  