.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
}

/* Navbar Layout and Structure for Desktop */

.nav-list {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mobile-nav {
  display: none;
}

/* Logo styling */

.logo {
  display: block;
  height: 100%;
  max-height: var(--nav-height);
  width: auto;
  object-fit: contain;
}

/* Links */

li {
  padding: 1em 0;
}

a {
  font-weight: 700;
  font-size: 1.25em;
  position: relative;

  overflow: hidden;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--color-secondary);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

a:hover::after,
a.active::after {
  transform: scaleX(1);
}

a:hover,
a.active {
  color: var(--color-secondary);
}

.no-transition {
  transition: none !important;
}

/* Responsive Font Sizes for Desktop */

@media (max-width: 1500px) {
  a {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  a {
    font-size: 0.85em;
  }
}

/* End of Navbar Layout and Structure for Desktop */

/* Navbar Layout and Structure for Mobile */

@media (max-width: 1000px) {
  .desktop-logo-container {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    height: calc(var(--nav-height) / 1.25);

    padding: 0 3em;

    overflow: hidden;

    margin-bottom: 2em;
    z-index: 3;
  }

  .mobile-logo {
    max-height: calc(var(--nav-height) / 1.25);
  }

  .nav-links {
    position: absolute;
    top: calc(var(--nav-height) / 1.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;

    z-index: 1;
  }

  .nav-links.open {
    transform: translateY(0);
    z-index: 2;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-links,
  .nav-list li,
  .nav-list a {
    display: block;
    width: 100%;
    text-align: center;
  }

  a {
    padding: 1em 0;
    font-size: 1.1em;
  }

  .nav-list li {
    padding: 0;
  }
}

/* End of Navbar Layout and Structure for Mobile */

/* Hamburger Menu Styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger {
  --btn-color: var(--color-dark);
}
.hamburger-svg {
  stroke: var(--btn-color);
}

.hamburger.isReady[aria-expanded='false'] :is(.top, .middle, .bottom) {
  animation: closeNavMenu 0.75s forwards;
}

.hamburger.isReady[aria-expanded='true'] :is(.top, .middle, .bottom) {
  animation: openNavMenu 0.75s forwards;
}

.hamburger .top {
  /* Magic Number here :( */
  transform-origin: 45px 40px;
  --rotation: 135deg;
  --opacity: 1;
}
.hamburger .middle {
  transform-origin: center;
  --rotation: 360deg;
  --opacity: 0;
}

.hamburger .bottom {
  /* Magic Number here :( */
  transform-origin: 45px 60px;
  --rotation: -135deg;
  --opacity: 1;
}

@keyframes openNavMenu {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    opacity: var(--opacity);
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  100% {
    opacity: var(--opacity);
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes closeNavMenu {
  0% {
    opacity: var(--opacity);
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    opacity: var(--opacity);
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1000px) and (prefers-reduced-motion) {
  .hamburger.isReady[aria-expanded='false'] :is(.top, .middle, .bottom),
  .hamburger.isReady[aria-expanded='true'] :is(.top, .middle, .bottom) {
    animation: none !important;
    transition: opacity 0.5s ease-in-out;
  }

  .hamburger[aria-expanded='true'] .middle {
    opacity: 0; /* fade out middle line */
  }
  .hamburger[aria-expanded='true'] .top {
    transform-origin: 45px 40px;
    rotate: 135deg; 
  }
  .hamburger[aria-expanded='true'] .bottom {
    transform-origin: 45px 60px;
    rotate: -135deg; 
  }
  .nav-links {
    translate: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .nav-links.open {
    opacity: 1;
  }
}