<nav class="nav-bar">
    <div class="mobile-nav">
        <a routerLink="/home" (click)="closeMenu()">
            <img class="logo mobile-logo" src="/Thorbouw-Logo-Light.png" alt="Logo">
        </a>
        <button class="hamburger">
            WIP Text
        </button>
    </div>
    <div class="nav_links">
        <ul class="nav-list left">
            @for (link of navLinks.slice(0, 3); track link.path){
            <li>
                <a [routerLink]="link.path" routerLinkActive="active">{{link.label}}</a>
            </li>
            }
        </ul>
        <div class="desktop-logo-container">
            <a routerLink="/home">
                <img class="logo" src="/Thorbouw-Logo-Light.png" alt="Logo Of Thorbouw">
            </a>
        </div>
        <ul class="nav-list right">
            @for (link of navLinks.slice(3); track link.path){
            <li>
                <a [routerLink]="link.path" routerLinkActive="active">{{link.label}}</a>
            </li>
            }
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>