<nav class="nav-bar">
    <div class="mobile-nav glassmorphism">
        <a routerLink="/home" (click)="closeMenu()">
            <img class="logo mobile-logo" src="/Thorbouw-Logo-Light.png" alt="Logo">
        </a>
        <span id="nav-label" hidden>Navigation</span>
        <button #hamburger class="hamburger" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen" aria-labelledby="nav-label">
            WIP Text
        </button>
    </div>
    <div #navLinksContainer class="nav-links glassmorphism" [class.no-transition]="disableTransition" [class.open]="isMenuOpen" [attr.inert]="!isMenuOpen && isMobile ? '' : null" role="dialog" aria-labelledby="nav-label">
        <ul class="nav-list left">
            @for (link of navLinks.slice(0, 3); track link.path){
            <li>
                <a [routerLink]="link.path" routerLinkActive="active" (click)="closeMenu()">{{link.label}}</a>
            </li>
            }
        </ul>
        <div class="desktop-logo-container">
            <a routerLink="/home">
                <img class="logo" src="/Thorbouw-Logo-Light.png" alt="Logo Of Thorbouw">
            </a>
        </div>
        <ul class="nav-list right">
            @for (link of navLinks.slice(3); track link.path){
            <li>
                <a [routerLink]="link.path" routerLinkActive="active" (click)="closeMenu()">{{link.label}}</a>
            </li>
            }
        </ul>
    </div>
</nav>
<div [attr.inert]="isMenuOpen ? '' : null">
    <router-outlet></router-outlet>
</div>