:host {
  --hero-height-simple: 450px;
  --hero-height-complete: 700px;
  --hero-clip-angle: 80%;
}

.hero {
  position: relative;
  width: 100%;
  height: var(--hero-height-simple);
  overflow: hidden;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% var(--hero-clip-angle),
    50% 100%,
    0% var(--hero-clip-angle)
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-complete {
  height: var(--hero-height-complete);
}

.hero-background {
  object-fit: cover;
  object-position: center 65%;
  z-index: 1;
}

.hero-complete .hero-background {
  object-position: center center;
}

.hero-content {
  position: relative;
  z-index: 2;

  max-width: min(700px, 90%);
  padding: clamp(1.5rem, 4vw, 3rem);
  border-radius: 25px;

  color: var(--color-white);
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

.hero-title {
  font-size: clamp(1.5rem, calc(4vw + 0.5rem), 3rem);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.hero-subtitle {
  font-size: clamp(1rem, calc(2vw + 0.5rem), 1.5rem);
  font-weight: 600;
  margin-bottom: 1.25em;
}

.link-btn.special-size-btn {
  font-size: clamp(0.6rem, calc(1vw + 0.25rem), 1rem);
}

@media (max-width: 768px) {
  :host {
    --hero-height-simple: 350px;
    --hero-height-complete: 500px;
    --hero-clip-angle: 85%;
  }
}

@media (max-width: 480px) {
  :host {
    --hero-height-complete: 400px;
    --hero-clip-angle: 90%;
  }

  .hero__content {
    max-width: 95%;
  }
}
