.top-page-hero-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 0.5em 0;
}

.logo-hero {
  max-height: 250px;
  width: auto;
}
.top-text-container {
  margin-left: 5%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text-container {
  font-size: 1.25em;

  color: var(--color-darkgrey);
  font-weight: 600;
}
.top-text-container .blue-text {
  margin-bottom: 2em;
}

.blue-text {
  color: var(--color-secondary);
  font-weight: 700;
}

@media (max-width: 1050px) {
  .top-text-container {
    width: 75%;
    margin-left: 2.5%;
  }
}

@media (max-width: 750px) {
  .top-page-hero-container {
    flex-direction: column;
  }

   .top-text-container {
     margin-top: .75em;
    width: 85%;
  }

  .logo-hero {
  max-height: 175px;
}
}
