.top-page-hero-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 0.5em 0;
}

.logo-hero {
  max-height: 250px;
  width: auto;
}
.top-text-container {
  margin-left: 5%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text-container {
  font-size: 1.25em;

  color: var(--color-darkgrey);
  font-weight: 600;
}
.top-text-container .blue-text {
  margin-bottom: 2em;
}

.blue-text {
  color: var(--color-secondary);
  font-weight: 700;
}

.text-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  > .middle-title {
    color: var(--color-secondary);
    width: max(375px, 40%);
    font-size: clamp(1.45rem, calc(2vw + .5rem), 2rem);
  }
  > p {
    width: max(400px, 50%);
    font-size: clamp(1rem, calc(1vw + .5rem), 1.5rem);
  }

  > .middle-title,
  p {
    margin-bottom: 1em;
  }
}

@media (max-width: 1050px) {
  .top-text-container {
    width: 75%;
    margin-left: 2.5%;
  }
}

@media (max-width: 750px) {
  .top-page-hero-container {
    flex-direction: column;
  }

  .top-text-container {
    margin-top: 0.75em;
    width: 85%;
  }

  .logo-hero {
    max-height: 175px;
  }
}
