:host {
  --hero-logo-height: 250px;
  --botom-container-width: 75%;

  --top-conainer-width: 50%;
  --top-container-margin-left: 5%;
}

.top-page-hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.logo-hero {
  max-height: var(--hero-logo-height);
  width: auto;
}
.top-text-container {
  margin-left: var(--top-container-margin-left);
  width: var(--top-conainer-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25em;
  color: var(--color-darkgrey);
  font-weight: 600;
}
.top-text-container .blue-text {
  margin-bottom: 2em;
}

.blue-text {
  color: var(--color-secondary);
  font-weight: 700;
}

.text-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > .middle-title {
    color: var(--color-secondary);
    width: max(375px, 40%);
    font-size: clamp(1.45rem, calc(2vw + 0.5rem), 2rem);
  }
  > p {
    width: max(400px, 50%);
    font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
  }

  > .middle-title,
  p {
    margin-bottom: 1em;
  }
}

.bottom-container {
  display: grid;
  grid-template-columns: 3fr 2fr;

  width: var(--botom-container-width);
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 5em;

  box-shadow: 3px 6px 35px var(--color-darkgrey);
}

.bottom-text-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  padding: min(3em, 5%);

  > h3 {
    color: var(--color-primary);
    font-weight: 700;
    font-size: clamp(1.25rem, 1vh + 1rem, 2rem);
    margin-bottom: 1.5em;
  }

  > p {
    margin-bottom: 1em;
    font-size: clamp(1rem, 1vh + 0.5rem, 1.5rem);
    font-weight: 500;

    > a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.image-container {
  grid-column: 2 / 3;
  position: relative;
}

@media (max-width: 1050px) {
  :host {
    --top-conainer-width: 75%;
    --top-container-margin-left: 2.5%;
  }
}

@media (max-width: 750px) {
  :host {
    --hero-logo-height: 175px;
    --top-conainer-width: 85%;
  }
  .top-page-hero-container {
    flex-direction: column;
  }

  .top-text-container {
    margin-top: 0.75em;
  }
}

@media (max-width: 992px) {
  :host {
    --botom-container-width: 85%;
  }
}

@media (max-width: 768px) {
  :host {
    --botom-container-width: 90%;
  }
  .bottom-container {
    grid-template-columns: 1fr;
  }

  .bottom-text-container {
    grid-row: 2;
    padding: 2em;
  }

  .image-container {
    grid-column: 1 / 2;
    grid-row: 1;
    height: 300px;
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  :host {
    --botom-container-width: 95%;
  }
  .bottom-container {
    margin-bottom: 3em;
  }

  .bottom-text-container {
    padding: 1.5em;

    > h3 {
      margin-bottom: 1em;
    }
  }

  .image-container {
    height: 250px;
    min-height: 250px;
  }
}
