.hero-image-container {
  position: relative;
  inset: 0;
  width: 100%;
  height: 400px;

  overflow: hidden;

  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  z-index: 1;
}

.hero-background {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  will-change: background-position;

  z-index: 1;

  opacity: 1;
}
