.hero-image-container {
  position: relative;
  inset: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  display: grid;
  grid-template-rows: 3fr 2fr 1fr 2fr 1fr;
  grid-template-columns: 0.25fr 2fr 1fr 5fr;
}

.hero-image-container:not(.hero-home) {
  height: 450px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.hero-image-container.hero-home {
  height: 700px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.hero-content > a:not(.hero-home-none),
.hero-content > p:not(.hero-home-none) {
  display: none;
}

.hero-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  opacity: 1;

  clip-path: inherit;
}
.hero-background:not(.hero-home) {
  object-position: 50% 65%;
}

.hero-content {
  position: absolute;

  grid-row: 2/3;
  grid-column: 2/4;

  z-index: 2;

  border-radius: 25px;

  padding: 2em;
}

.hero-content > h1 {
  margin-bottom: 0.5em;
}
.hero-content > p {
  font-weight: 600;
  font-size: 1.25em;

  margin-bottom: 1.5em;
}

.hero-content > a {
  padding: 1em;
  background-color: var(--color-primary);
  border-radius: 15px;

  color: var(--color-light-grey);
  font-weight: 600;
  margin-left: -0.75em;

  border: 2px solid var(--color-light-grey);

  transition: ease-in-out .3s;
}
.hero-content > a:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-grey);
}

@media (max-width: 1400px) {
  .hero-image-container {
    grid-template-columns: 0.25fr 2fr 0.25fr 2fr;
  }
}

@media (max-width: 1000px) {
  .hero-image-container {
    grid-template-columns: 0.25fr 2fr 0.25fr 2fr;
  }
  .hero-image-container.hero-home {
    height: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  }

  .hero-image-container:not(.hero-home) {
    height: 450px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  }

  .hero-content > h1 {
    font-size: 1.5em;
  }
  .hero-content > p {
    font-size: 1em;
  }

  .hero-content > a {
    font-size: 0.75em;
  }
}

@media (max-width: 775px) {
  .hero-image-container {
    grid-template-columns: 0.25fr 2fr 0.25fr 1fr;
  }
}

@media (max-width: 610px) {
  .hero-image-container {
    grid-template-columns: 0.25fr 2fr 0.25fr 1fr;
  }

  .hero-image-container.hero-home {
    height: 400px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  }

  .hero-image-container:not(.hero-home) {
    height: 350px;
  }

  .hero-content > h1 {
    font-size: 1.25em;
  }

  .hero-content > a {
    font-size: 0.55em;
  }
}

@media (max-width: 500px) {
  .hero-image-container {
    grid-template-columns: 0.25fr 2fr 0.35fr 0.25fr;
  }
}
