.hero-image-container {
  position: relative;
  inset: 0;
  width: 100%;
  height: 400px;

  overflow: hidden;

  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  z-index: 1;
}
.hero-home {
  height: 750px;
}

.hero-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  z-index: 1;
  opacity: 1;
}
