.carousel-container {
  position: relative;

  width: 100%;
  height: 775px;
  margin: 0 auto;
}
.carousel {
  /* Transition Variables */
  --transition-duration: 0.75s;
  --transition-timing: cubic-bezier(0.34, .95, 0.64, 1);

  /* Carousel Variables */
  --carousel-depth: 250px;
  --carousel-rotation: 25deg;
  --side-card-scale: 0.7;
  --side-card-offset: 45%;
}

.carousel {
  position: relative;

  height: 600px;
  width: 100%;
  perspective: 1200px;

  transform-style: preserve-3d;

  margin: 25px auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.carousel-card {
  display: flex;
  align-items: center;

  position: absolute;

  height: 100%;
  width: 45%;

  transform-style: preserve-3d;
  transform-origin: center center calc(-1 * var(--carousel-depth));

  border-radius: 10px 10px 0 0;

  will-change: transform, filter, opacity;

  transition: transform var(--transition-duration) var(--transition-timing),
    opacity var(--transition-duration) var(--transition-timing),
    filter var(--transition-duration) var(--transition-timing);

  overflow: hidden;
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-card.active {
  z-index: 5;
}

.carousel-card.prev,
.carousel-card.next {
  --hover-transition-card: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

  border-radius: 10px;

  filter: grayscale(100%);
  z-index: 3;

  transition: var(--hover-transition-card);
}
.carousel-card.prev img,
.carousel-card.next img{
  transition: var(--hover-transition-card);
}

.carousel-card.prev:hover,
.carousel-card.next:hover {
  scale: 1.015;
  filter: grayscale(0%);
}
.carousel-card.prev:hover img,
.carousel-card.next:hover img {
  scale: 1.1;
}

.carousel-card.prev {
  transform: translateX(calc(-1 * var(--side-card-offset)))
    rotateY(calc(-1 * var(--carousel-rotation))) translateZ(var(--carousel-depth))
    scale(var(--side-card-scale));
}

.carousel-card.next {
  transform: translateX(var(--side-card-offset)) rotateY(var(--carousel-rotation))
    translateZ(var(--carousel-depth)) scale(var(--side-card-scale));
}

.carousel-card.hidden-prev,
.carousel-card.hidden-next {
  opacity: 0;
  z-index: -5;
  filter: grayscale(100%);
  transition: transform var(--transition-duration) var(--transition-timing),
    opacity var(--transition-duration) var(--transition-timing);

  pointer-events: none;
}

.carousel-card.hidden-next {
  transform: rotateY(90deg) scale(0.5);
}

.carousel-card.hidden-prev {
  transform: rotateY(-90deg) scale(0.5);
}

/* Info Card */
.info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  padding-bottom: 3em;
}

.extra-info-container {
  width: 45%;
  background: var(--color-grey);
  height: 100px;

  padding: 0 min(45px, 2.5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease-in;
  transform: translateZ(0);
  border-radius: 0 0 10px 10px;
}

.extra-info-container.fade-content {
  opacity: 0;
}

.info-text {
  display: flex;
  justify-content: flex-start;
  width: 65%;
  color: var(--color-darkgrey);
  font-weight: 500;
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1.25rem);
}

.info-text span {
  display: block;
  line-height: 1.4;
  padding-right: max(0.1em, 15%);
}

.info-text strong {
  color: #000;
}