:root {
  /* Primary/Accent Colors */
  --color-primary: #12316B; 
  --color-secondary: #5C76AD; 
  --color-dark: #242223;

  /* Neutral Colors */
  --color-white: #FFFFFF;
  --color-light-grey: #D8DCE6; 
  --color-grey: #8E94A8;     
  --color-darkgrey: #4A474A;

  /* Original Variables */
  /*
  --color-original-primary: #183C80;
  --color-original-secondary: #3F5A93;
  --color-original-darkgrey: #3F3D3E;
  --color-original-grey: #B5B9C7;
  */


  --font-family: "Montserrat", sans-serif;

  --nav-height: 92px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: inherit;
}

/* NavBar Glassmorphism Styling */

.glassmorphism {
  position: relative;
  isolation: isolate;

  padding: 0 1em;
  margin-bottom: 1.5em;

  border-bottom: rgba(255, 255, 255, 0.25) 2px solid;
  border-radius: 0 0 25px 25px;

  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(15px);

  box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.35);

}

.glassmorphism::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background-image: url('/noise/Noise.png');
  background-repeat: repeat;
  opacity: 0.1;
  mix-blend-mode: overlay;
}

.link-btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: min(15px, 2.5%) min(30px, 5%);
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 1.5rem);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid var(--color-white);
}

.link-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.link-btn:active {
  transform: translateY(0);
}